<untappd://user/{{ checkin.user.user_name }}|:adult:> <untappd://beer/{{ checkin.beer.bid }}|:beer:> <untappd://brewery/{{ checkin.brewery.brewery_id }}|:factory:> {% if checkin.venue %}<untappd://venue/{{ checkin.venue.venue_id }}|:round_pushpin:>{% endif %}
