[untappd]
id = C0V47SQ067AKMYY1AYG3CU0ADSCCGC7E52XCM0J9        # Your Untappd API ID
secret = 9J2WHQX2EH00191UGHO62HTI8QIEI8HMTXL403L5    # Your Untappd API Secret
timeout = 10                                         # Time to wait in seconds before requests time out
token = D7NLHKQY37YMOI3S3L51R7AYOMKONFXYW9GTY6R4     # See https://untappd.com/api/docs#authentication for more information
users = foo,bar,baz                                  # A comma separated list of users
lastseen = 0                                         # The last checkin ID seen by the script, don't worry about this.

[slack]
token = TXXXXXXXX/BXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX # A Slack webhook token
